
.nav-wrap{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}


.hero-section-wrap{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}


.hero-image-wrap{

}

.hero-image{
}

.hero-text-wrap, 
.text-title, 
.text-subtitle, 
.btn-call-to-action-wrap, 
.social-proof{
    padding-top: clamp(1rem, 1.5vw ,2rem);
    padding-bottom: clamp(1rem, 1.5vw ,2rem);
}

.hero-text-wrap{
    padding: 1em;
    text-align: center;
}

.text-title{
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: var(--font-weight-700);
    color: var(--col-almostblack);
}

.text-title br{
    display: none;
}

.text-subtitle{
    color: var(--col-mediumgray);
    font-weight: var(--font-weight-500);

}


.btn-call-to-action{
    background-color: var(--col-almostblack);
    color: white; 
    max-width: fit-content;
    margin: auto;
    margin-top: inherit;
    margin-bottom: inherit;
    padding: 0.85rem 1.5rem 0.85rem 1.5rem;
    border-radius: 20px;
}

.social-proof{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 0; 
}

.social-proof img{
    padding: 0.7em;
}


@media only screen and (min-width : 900px){
    .hero-section-wrap{
        flex-direction: row-reverse;
        max-width: 1200px;
        max-height: fit-content;
        margin-top: 3%;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2em;
    }

    .hero-text-wrap{
        text-align: left;
        max-width: 43%;
    }

    .hero-image-wrap{
        max-width: 43%;
    }

    .text-title{
        line-height: 1.2;
    }

    .text-title br{
        display: block;
    }

    .btn-call-to-action{
        margin-left: 0;
    }
}