
.nav-wrap{
    padding: 1em;
    display: flex;
    justify-content: left;
}


.menu-wrap{
    display: flex;
    justify-content: right;
    flex-grow: 1;
    padding-right: 3vw;
}

.menu-desktop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: none;
    color: var(--col-mediumgray)
}

.menu-desktop p{
    font-size: clamp(14px, 0.8vw, 20px);
}

.nav-items-wrap{
    display: flex;
    width: clamp(400px, 35vw, 550px);
    justify-content: space-evenly;
}

.nav-item{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms all ease;
}

.nav-item::after{
    content: '';
    position: absolute;
    /* border: 2px solid black; */
    width: 80px;
    height: 100px;
}

.nav-item-content{
    display: none;
    align-self: baseline;
    padding: 1em;
    background-color: white;
    grid-template-columns: 1fr 3fr;
    border-radius: 10px;
    box-shadow: 0.1px 0.1px 16px var(--col-mediumgray);
    color: var(--col-mediumgray);
    position: absolute;
    transform: translate(-15px, 40px);
}

.nav-item-contens-no-icons{

}

.nav-item:hover{
    color: var(--col-almostblack);
}

.nav-item:hover svg{
    transform: rotate(180deg);
}

.nav-item:hover .nav-item-content{
    display: grid;
}

.nav-item:hover .nav-item-content-no-icons{
    display: flex;
    flex-direction: column;
}

.nav-item p, img{
    padding: 0.2rem;
}


.nav-btn-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}


.nav-btn-wrap p{
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.nav-btn:hover{
    color: var(--col-almostblack);
}


.nav-btn-login{
    cursor: pointer;
}

.nav-btn-register{
    border: 2px var(--col-mediumgray) solid;  
    border-radius: 15px;  
    cursor: pointer;
}

.nav-btn-register:hover{
    border-color: var(--col-almostblack);
}



.hero-section-wrap{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}


.hero-image-wrap{

}

.hero-image{
}

.hero-text-wrap, 
.text-title, 
.text-subtitle, 
.btn-call-to-action-wrap, 
.social-proof{
    padding-top: clamp(1rem, 1.5vw ,2rem);
    padding-bottom: clamp(1rem, 1.5vw ,2rem);
}

.hero-text-wrap{
    padding: 1em;
    text-align: center;
}

.text-title{
    font-size: clamp(2rem, 4vw, 4.5rem);
    font-weight: var(--font-weight-700);
    color: var(--col-almostblack);
}

.text-title br{
    display: none;
}

.text-subtitle{
    color: var(--col-mediumgray);
    font-weight: var(--font-weight-500);

}


.btn-call-to-action{
    background-color: var(--col-almostblack);
    color: white; 
    max-width: fit-content;
    margin: auto;
    margin-top: inherit;
    margin-bottom: inherit;
    padding: 0.85rem 1.5rem 0.85rem 1.5rem;
    border-radius: 20px;
    transition: all 250ms ease;
    border: 2px var(--col-almostblack) solid;
}

.btn-call-to-action:hover{
    background-color: white;
    color: var(--col-almostblack);
}

.social-proof{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 0; 
}

.social-proof img{
    padding: 0.7em;
}


@media only screen and (min-width : 900px){
    .menu-wrap{
        justify-content: space-between;
    }

    .menu-desktop{
        display: flex;
    }
    
    .menu-icon{
        display: none;
    }
    
    
    .hero-section-wrap{
        flex-direction: row-reverse;
        max-width: min(1300px, 80vw);
        max-height: fit-content;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2em;
    }

    .hero-text-wrap{
        text-align: left;
        max-width: 43%;
    }

    .hero-image-wrap{
        max-width: 43%;
    }

    .text-title{
        line-height: 1.2;
    }

    .text-title br{
        display: block;
    }

    .btn-call-to-action{
        margin-left: 0;
    }
}